/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-22-2016, 12:13:25 PM
    Author     : MauricioBC
*/

#sidebar {
    background-color: #848482;
    padding: 10px;
}

#sidebar a:hover, a:focus {
    color: #FFF;
    text-decoration: none;
}

#sidebar.nav > li > a,
#sidebar.nav > li > a:link {
    background-color: #848482;
    color: #FFF;
}

#sidebar.nav > li > a:hover,
#sidebar.nav > li > a:focus {
    background-color: #4863A0;
}

#sidebar.nav-pills > li.active > a,
#sidebar.nav-pills > li.active > a:hover,
#sidebar.nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #4863A0;
}
