

.navbar-custom {
  background-color: #d44138;
  border-color: #c1322a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dd6962), to(#d44138));
  background-image: -webkit-linear-gradient(top, #dd6962, 0%, #d44138, 100%);
  background-image: -moz-linear-gradient(top, #dd6962 0%, #d44138 100%);
  background-image: linear-gradient(to bottom, #dd6962 0%, #d44138 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd6962', endColorstr='#ffd44138', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #c1322a;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #c1322a;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #bdbdbd;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #bdbdbd;
  background-color: #c1322a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#c1322a), to(#d74f47));
  background-image: -webkit-linear-gradient(top, #c1322a, 0%, #d74f47, 100%);
  background-image: -moz-linear-gradient(top, #c1322a 0%, #d74f47 100%);
  background-image: linear-gradient(to bottom, #c1322a 0%, #d74f47 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc1322a', endColorstr='#ffd74f47', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #bf3229;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #bdbdbd;
  border-bottom-color: #bdbdbd;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #c1322a;
  color: #bdbdbd;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #bdbdbd;
  border-bottom-color: #bdbdbd;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #bdbdbd;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #bdbdbd;
    background-color: #c1322a;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #bdbdbd;
}

th { background: #dddddd;
  color: black;
  text-align: center;
  border:solid;
  border-width: 1px;
}

tr:nth-child(even) { background: #dddddd;}

tr:nth-child(odd) { background: #597eaa;
  color: white;
}

table {
  border:solid;
  border-width: 1px;
}

td{
  border:solid;
  border-width: 1px;
  border-color: black;
}