<div>
                <div class="col-md-2">
                <ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
                    <li><a href="#/">Datos personales</a></li>
                    <li  class="active"><a href="#/laboral">Información laboral</a></li>
                    <li><a href="#/educacion">Educación</a></li>
                    <li><a href="#/cargos">Cargos desempeñados</a></li>
                    <li><a href="#/oferta">Información de beca</a></li>
                    <li><a href="#/referencias">Referencias personales</a></li>
                    <li><a href="#/documentos">Adjuntar documentos</a></li>
                </ul>
            </div>  
            <div class="col-md-10">
                
                        <fieldset class="custom-border">
                <legend class="custom-border">Información laboral</legend>
                            <div class="row">                                   
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <label for="textinput">Profesión</label>
                                    <input name="profesion" type="text" placeholder="ingrese el nombre de su profesión" class="form-control input-md" ng-model="data.profesion" ng-required="true" minlength="10" maxlength="30" ng-pattern="/^[A-ZÑÁÉÍÓÚ ]*$/">
                                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.profesion.$error.required">Ingrese su profesion.</span>
                                    <span class="text-danger" ng-show="solicitud.profesion.$error.minlength">Minimo 10 caracteres.</span>
                                    <span class="text-danger" ng-show="solicitud.profesion.$error.pattern">Solo se permiten letras mayusculas. (A-Z).</span>
                                </div> 
                            </div></br>
                             <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <label for="textinput">Cargo actual</label>
                                    <input name="cargo" type="text" placeholder="ingrese el nombre de su cargo actual" class="form-control input-md" ng-model="data.cargo" ng-required="true" minlength="10" maxlength="50" ng-pattern="/^[A-ZÑÁÉÍÓÚ ]*$/">
                                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.cargo.$error.required">Ingrese su cargo actual.</span>
                                    <span class="text-danger" ng-show="solicitud.cargo.$error.minlength">Minimo 10 caracteres.</span>
                                    <span class="text-danger" ng-show="solicitud.cargo.$error.pattern">Solo se permiten letras mayusculas. (A-Z).</span>
                                </div> 
                            </div></br>
                             <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <label for="textinput">Departamento (Unidad)</label>
                                    <input name="unidad" type="text" placeholder="ingrese el nombre de su departamento" class="form-control input-md" ng-model="data.unidad" ng-required="true" minlength="10" maxlength="100" ng-pattern="/^[A-ZÑÁÉÍÓÚ ]*$/">
                                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.unidad.$error.required">Ingrese la unidad o departamento en el que labora.</span>
                                    <span class="text-danger" ng-show="solicitud.unidad.$error.minlength">Minimo 10 caracteres.</span>
                                    <span class="text-danger" ng-show="solicitud.unidad.$error.pattern">Solo se permiten letras mayusculas. (A-Z).</span>
                                </div> 
                            </div></br>
                             <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <label for="textinput">Facultad</label>
                                    <input type="text" class="form-control" ng-value="facultad" disabled="true">
                                </div> 
                            </div></br>
                            <div class="row">
                                 <div class="col-md-4 col-md-offset-4">
                                    <label>Fecha de contratación</label>
                                    <div class="input-group date">
                                        <input name="fechaContratacion" type="text" class="form-control" ng-disabled="true" ng-model="data.fecha_contratacion" ng-required="true"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.fechaContratacion.$error.required">Ingrese la fecha en que comenzo a laborar en la Universidad de El Salvador.</span>
                                </div>
                            </div></br>                            
                            <div class="row"></div>
                    </fieldset>              
                <div class="row">
                        <div class="col-md-4 col-lg-offset-4">
                            <a href="#/educacion"><button id="button1id" name="continuar" class="btn btn-primary" ng-disabled="!solicitud.$valid">Continuar</button></a>
                            <a href="#/"><button id="button1id" name="regresar" class="btn btn-primary">Regresar</button></a>
                            <a href="principal.jsp" class="btn btn-danger">Cancelar</a>
                        </div>
                </div>
            </div> 
            
</div>

<script type="text/javascript">
                        $(function () {
                            $('.input-group.date').datepicker({
                                format: 'yyyy-mm-dd',
                                calendarWeeks: true,
                                todayHighlight: true,
                                autoclose: true,
                                startDate: new Date()
                            });
                        });

</script>