<div>
    <div class="col-md-2">
                <ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
                    <li><a href="#/">Datos personales</a></li>
                    <li><a href="#/laboral">Información laboral</a></li>
                    <li  class="active"><a href="#/educacion">Educación</a></li>
                    <li><a href="#/cargos">Cargos desempeñados</a></li>
                    <li><a href="#/oferta">Información de beca</a></li>
                    <li><a href="#/referencias">Referencias personales</a></li>
                    <li><a href="#/documentos">Adjuntar documentos</a></li>
                </ul>
            </div>  
            <div class="col-md-10">
                    <fieldset class="custom-border">
                <legend class="custom-border">Educación</legend>            
                            <div class="row">  
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <label>Estudios Realizados</label>
                                        <thead>
                                            <tr class="success">
                                                <th>No</th>
                                                <th>Tipo de educación</th>
                                                <th>Grado alcanzado</th>
                                                <th>Institución</th>
                                                <th>Año</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <tr ng-repeat="x in data.educacion">
                                                <td>{{$index + 1}}</td>
                                                <td> 
                                                    <select name="{{x.tipo}}" class="form-control" ng-model="aux.auxTipoEdu[$index +1]">
                                                        <option value="1">Tecnico</option>
                                                        <option value="2">Titulo Universitario</option>
                                                    </select> </td>
                                                    <td>
                                                        <select name="{{x.grado}}" class="form-control" ng-model="aux.auxGradoEdu[$index +1]">
                                                            <option value="1">Option one</option>
                                                            <option value="2">Option two</option>
                                                        </select>
                                                    </td>
                                                <td><input name="{{x.institucion}}" type="text" placeholder="Ingrese el nombre de la institución" class="form-control input-md" ng-model="aux.auxInstitucionEdu[$index +1]"> </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-1"></div>
                                                        <div class="col-sm-7"><input name="{{x.anyo}}" type="text" class="form-control" ng-model="aux.auxAnyoEdu[$index +1]"></div>
                                                        <div class="col-sm-3"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ></i></span></div>
                                                        <div class="col-sm-1"></div>
                                                    </div>
                                                    
                                                    
                                                </td>
                                                <td>
                                                    <a name="eliminar" class="btn btn-danger" ng-show="!$first&&$last" ng-click="eliminarEducacion()">Eliminar</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row text-center">
                                        <a href="" class="btn btn-primary" ng-click="agregarEducacion()" ng-show="verAgregarEducacion">Agregar Nueva Educacion</a>
                                    </div>
                                </div> 
                            </div></br>
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered">
                                        <label>Trabajo de investigación o tesis realizada </label>
                                        <thead>
                                            <tr class="success">
                                                <th>No</th>
                                                <th>Titulo de Proyecto</th>
                                                <th>Publicado</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <tr ng-repeat="x in data.proyectos" >
                                                <td>{{$index + 1}}</td>
                                                <td><input name="{{x.titulo}}" type="text" placeholder="Titulo del proyecto" class="form-control input-md" ng-model="aux.auxTituloProy[$index +1]"></td>
                                                <td><input type="radio" name="{{x.publicado}}" value="si" ng-model="aux.auxPublicado[$index +1]"><label>  Si </label><input type="radio" name="{{x.publicado}}" value="no" ng-model="aux.auxPublicado[$index +1]"><label>  No </label></td>
                                                <td>
                                                    <input type="checkBox" ng-show="$first&&$last" ng-model="checkProyecto"> <label ng-show="$first&&$last">Ninguno</label>
                                                    <a name="eliminar" class="btn btn-danger" ng-show="!$first&&$last" ng-click="eliminarProyecto()">Eliminar</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row text-center">
                                        <a href="" class="btn btn-primary" ng-click="agregarProyecto()" ng-show="verAgregarProyecto" >Agregar Nuevo Proyecto</a>
                                    </div>
                                    </div>
                                </div>
                                
                            </div></br>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Idiomas Manejados </label>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="success">
                                                <th>No</th>
                                                <th>Idioma</th>
                                                <th>Nivel de habla</th>
                                                <th>Nivel de lectura</th>
                                                <th>Nivel de escritura</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in data.idiomas">
                                                <td>{{$index + 1}} </td>
                                                <td> <select name="{{x.idioma}}" ng-model="aux.auxIdioma[$index +1]" class="form-control">
                                                        <option value="1">Option one</option>
                                                        <option value="2">Option two</option>
                                                     </select> </td>
                                                <td> <select name="{{x.nivelHabla}}" class="form-control" ng-model="aux.auxNivelHabla[$index +1]">
                                                        <option value="1">Option one</option>
                                                        <option value="2">Option two</option>
                                                     </select> </td>
                                                <td> <select name="{{x.nivelLectura}}" class="form-control" ng-model="aux.auxNivelLectura[$index +1]">
                                                        <option value="1">Option one</option>
                                                        <option value="2">Option two</option>
                                                     </select>   </td>
                                                <td> <select name="{{x.nivelEscritura}}" class="form-control" ng-model="aux.auxNivelEscritura[$index +1]">
                                                        <option value="1">Option one</option>
                                                        <option value="2">Option two</option>
                                                     </select></td>
                                                <td><a name="eliminar" class="btn btn-danger" ng-show="!$first&&$last" ng-click="eliminarIdioma()">Eliminar</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row text-center">
                                        <a href="" class="btn btn-primary" ng-click="agregarIdioma()" ng-show="verAgregarIdioma" >Agregar Nuevo Idioma</a>
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                            </div></br>
                            <div class="row">
                            </div></br>
                        </fieldset>         
                <div class="row">
                    <div class="col-md-4 col-lg-offset-4">
                        <a href="#/cargos"><button id="button1id" name="continuar" class="btn btn-primary">Continuar</button></a> 
                        <a href="#/laboral"><button id="button1id" name="regresar" class="btn btn-primary">Regresar</button></a>
                        <a href=""><button id="button2id" name="cancelar" class="btn btn-danger">Cancelar</button></a>
                    </div>
                </div></br>
            </br>
        </div>
</div>