<div>
    <div class="col-md-2">
                <ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
                    <li><a href="#/">Datos personales</a></li>
                    <li><a href="#/laboral">Información laboral</a></li>
                    <li><a href="#/educacion">Educación</a></li>
                    <li><a href="#/cargos">Cargos desempeñados</a></li>
                    <li><a href="#/oferta">Información de beca</a></li>
                    <li><a href="#/referencias">Referencias personales</a></li>
                    <li><a href="#/documentos">Adjuntar documentos</a></li>
                </ul>
            </div>  
            <div class="col-md-10">
                <fieldset class="custom-border">
                <legend class="custom-border">Cargos desempeñados</legend>
                    
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Asociaciones Profecionales a las que pertenece</label>
                                    <table class="table table-bordered">
                                        
                                        <thead>
                                            <tr class="success">
                                                <th>No</th>
                                                <th>Asociación profesional</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in data.asociaciones">
                                                <td>{{$index + 1}}</td>
                                                <td><input name="{{x.asociacion}}" type="text" placeholder="Ingrese el nombre de la Asociación Profecional a la que pertenece" class="form-control input-md" ng-model="aux.auxAsociacion[$index +1]"></td>
                                                <td>
                                                    <input type="checkBox" ng-show="$first&&$last" ng-model="checkAsociacion"> <label ng-show="$first&&$last">Ninguno</label>
                                                    <a name="eliminar" class="btn btn-danger" ng-show="!$first&&$last" ng-click="eliminarAsociacion()">Eliminar</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row text-center">
                                        <a href="" class="btn btn-primary" ng-click="agregarAsociacion()" ng-show="verAgregarAsociacion">Agregar Nueva Asociacion</a>
                                    </div>
                                </div>                                    
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Empleos desempeñados en los ultimos 5 años</label>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="success">
                                                <th>No</th>
                                                <th>Lugar y Título del cargo</th>
                                                <th>Periodo</th>
                                                <th>Responsabilidades</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in data.cargos">
                                                <td> </td>
                                                <td>
                                                    <label>Lugar del Cargo:</label>
                                                    <input  name="{{x.lugar}}" type="text" placeholder="Ingrese el nombre del lugar en el cual tuvo el cargo" class="form-control input-md" ng-model="aux.auxLugar[$index +1]">
                                                    <label>Titulo del Cargo:</label>
                                                    <input  name="{{x.cargo}}" type="text" placeholder="Ingrese el nombre del cargo" class="form-control input-md" ng-model="aux.auxCargo[$index +1]">
                                                </td>
                                                <td>
                                                    <label>Fecha de Inicio:</label>
                                                    <div class="input-group date">
                                                        <input name="{{x.fechaInicio}}" type="text" class="form-control" ng-model="aux.auxFechaInicio[$index +1]"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                    </div> 
                                                    <label>Fecha de Fin</label>
                                                    <div class="input-group date">
                                                        <input name="{{x.fechaFin}}" type="text" class="form-control" ng-model="aux.auxFechaFin[$index +1]"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                    </div> 
                                                </td>
                                                <td><textarea name="{{x.responsabilidades}}" class="form-control" ng-model="aux.auxResponsabilidades[$index +1]"></textarea></td>
                                                <td><a name="eliminar" class="btn btn-danger" ng-show="!$first&&$last" ng-click="eliminarCargo()">Eliminar</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row text-center">
                                        <a href="" class="btn btn-primary" ng-click="agregarCargo()" ng-show="verAgregarCargo">Agregar Otro Cargo</a>
                                    </div>
                                </div>                                    
                            </div></br>
                        </fieldset>        
                <div class="row">
                    <div class="col-md-4 col-lg-offset-4">
                        <a href="#/oferta"><button id="button1id" name="continuar" class="btn btn-primary">Continuar</button></a> 
                        <a href="#/educacion"><button id="button1id" name="regresar" class="btn btn-primary">Regresar</button></a>
                        <a href=""><button id="button2id" name="cancelar" class="btn btn-danger">Cancelar</button></a>
                    </div>
                </div></br>
            </br>
        </div>
</div>