<div>
    <div class="col-md-2">
        <ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
            <li><a href="#/">Datos personales</a></li>
            <li><a href="#/laboral">Información laboral</a></li>
            <li><a href="#/educacion">Educación</a></li>
            <li class="active"><a href="#/cargos">Cargos desempeñados</a></li>
            <li><a href="#/oferta">Información de beca</a></li>
            <li><a href="#/referencias">Referencias personales</a></li>
            <li><a href="#/documentos">Adjuntar documentos</a></li>
        </ul>
    </div>  
    <div class="col-md-10">
        <fieldset class="custom-border">
            <legend class="custom-border">Cargos desempeñados</legend>

            <div class="row">
                <div class="col-md-12">
                    <label>Asociaciones Profecionales a las que pertenece</label>
                    <table class="table table-bordered">

                        <thead>
                            <tr class="success">
                                <th>No</th>
                                <th>Asociación profesional</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in data.asociaciones">
                                <td>{{$index + 1}}</td>
                                <td>
                                    <input name="{{x.asociacion}}" type="text" placeholder="Ingrese el nombre de la Asociación Profecional a la que pertenece" class="form-control input-md" ng-model="aux.auxAsociacion[$index]" ng-required="!checkAsociacion" ng-disabled="checkAsociacion" minlength="10" maxlength="100" ng-pattern="/^[A-ZÑÁÉÍÓÚ ]*$/">
                                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.{{x.asociacion}}.$error.required">Ingrese el nombre de la Asociación.</span>
                                    <span class="text-danger" ng-show="solicitud.{{x.asociacion}}.$error.minlength">Mínimo 10 caracteres.</span>
                                    <span class="text-danger" ng-show="solicitud.{{x.asociacion}}.$error.pattern">Solo se permiten letras mayúsculas. (A-Z).</span>
                                </td>
                                <td>
                                    <input type="checkBox" ng-show="$first && $last" ng-model="checkAsociacion" ng-click="cambiarcheckAsociacion()"> <label ng-show="$first && $last">Ninguno</label>
                                    <a name="eliminar" class="btn btn-danger" ng-show="!$first && $last" ng-click="eliminarAsociacion()">Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row text-center">
                        <a href="" class="btn btn-primary" ng-click="agregarAsociacion()" ng-show="!checkAsociacion&&verAgregarAsociacion">Agregar Nueva Asociación</a>
                    </div>
                </div>                                    
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Empleos desempeñados en los últimos 5 años</label>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="success">
                                <th>No</th>
                                <th>Lugar y Título del cargo</th>
                                <th>Periodo</th>
                                <th>Responsabilidades</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in data.cargos">
                                <td> {{$index + 1}}</td>
                                <td>
                                    <label>Lugar del Cargo:</label>
                                    <input  name="{{x.lugar}}" type="text" placeholder="Ingrese el nombre del lugar en el cual tuvo el cargo" class="form-control input-md" ng-model="aux.auxLugar[$index]" ng-required="true" minlength="10" maxlength="125" ng-pattern="/^[A-ZÑÁÉÍÓÚ ]*$/">
                                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.{{x.lugar}}.$error.required">Ingrese el Lugar.</span>
                                    <span class="text-danger" ng-show="solicitud.{{x.lugar}}.$error.minlength">Mínimo 10 caracteres.</span>
                                    <span class="text-danger" ng-show="solicitud.{{x.lugar}}.$error.pattern">Solo se permiten letras mayúsculas. (A-Z).</span>
                                    <br><label>Título del Cargo:</label>
                                    <input  name="{{x.cargo}}" type="text" placeholder="Ingrese el nombre del cargo" class="form-control input-md" ng-model="aux.auxCargo[$index]" ng-required="true" minlength="10" maxlength="80" ng-pattern="/^[A-ZÑÁÉÍÓÚ ]*$/">
                                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.{{x.cargo}}.$error.required">Ingrese el nombre del cargo.</span>
                                    <span class="text-danger" ng-show="solicitud.{{x.cargo}}.$error.minlength">Mínimo 10 caracteres.</span>
                                    <span class="text-danger" ng-show="solicitud.{{x.cargo}}.$error.pattern">Solo se permiten letras mayúsculas. (A-Z).</span>
                                </td>
                                <td>
                                    <label>Fecha de Inicio:</label>
                                    <div class="input-group date">
                                        <input name="{{x.fechaInicio}}" type="text" class="form-control" ng-model="aux.auxFechaInicio[$index]" ng-required="true"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div> 
                                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.{{x.fechaInicio}}.$error.required">Ingrese la fecha de inicio del cargo.</span>
                                    <br><label>Fecha de Fin</label>
                                    <div class="input-group date">
                                        <input name="{{x.fechaFin}}" type="text" class="form-control" ng-model="aux.auxFechaFin[$index]" ng-required="true"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div> 
                                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.{{x.fechaFin}}.$error.required">Ingrese la fecha de Fin del cargo.</span>
                                    <script type="text/javascript">
                                        $(function () {
                                        $('.input-group.date').datepicker({
                                        format: 'yyyy-mm-dd',
                                                calendarWeeks: true,
                                                todayHighlight: true,
                                                autoclose: true,
                                                startDate: '-6y',
                                                endDate: '-0y'
                                        });
                                        });</script>
                                </td>
                                <td><textarea name="{{x.responsabilidades}}" class="form-control" ng-model="aux.auxResponsabilidades[$index]" ng-required="true" maxlength="300"></textarea>
                                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.{{x.responsabilidades}}.$error.required">Ingrese las responsabilidades del cargo.</span>
                                </td>
                                <td><a name="eliminar" class="btn btn-danger" ng-show="!$first && $last" ng-click="eliminarCargo()">Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row text-center">
                        <a href="" class="btn btn-primary" ng-click="agregarCargo()" ng-show="verAgregarCargo">Agregar Otro Cargo</a>
                    </div>
                </div>                                    
            </div>
        </fieldset>        
        <div class="row">
            <div class="col-md-4 col-lg-offset-4">
                <a href="principal.jsp" class="btn btn-danger">Cancelar</a>
                <a href="#/educacion" class="btn btn-primary">Regresar</a> 
                <a href="#/oferta" class="btn btn-success" ng-disabled="!solicitud.$valid">Continuar</a> 
                               
            </div>
        </div>
        
    </div>
</div>
