<div>
    <div class="col-md-2">
                <ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
                    <li><a href="#/">Datos personales</a></li>
                    <li><a href="#/laboral">Información laboral</a></li>
                    <li><a href="#/educacion">Educación</a></li>
                    <li><a href="#/cargos">Cargos desempeñados</a></li>
                    <li  class="active"><a href="#/oferta">Información de beca</a></li>
                    <li><a href="#/referencias">Referencias personales</a></li>
                    <li><a href="#/documentos">Adjuntar documentos</a></li>
                </ul>
            </div>  
            <div class="col-md-10"> 
                <fieldset class="custom-border">
                <legend class="custom-border">Información de beca</legend>
                                           
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bootstrap-iso">
                  
                            <div class="row no-gutter">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="labeltitulo" value="Título a Obtener:" disabled style="font-weight: bold; background-color:#728FCE; color:white">    
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="titulo" ng-value="nombreOferta" ng-disabled="true">    
                                    </div>
                                </div>
                            </div>   
                            <div class="row no-gutter">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="labelinstestu" value="Institución de estudio:" disabled style="font-weight: bold;background-color:#728FCE; color:white">    
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="instEstudio" ng-value="nombreInstitucion" ng-disabled="true">    
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="labelPais" value="País:" disabled style="font-weight: bold;background-color:#728FCE; color:white">    
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="pais" ng-value="pais" ng-disabled="true">    
                                    </div>
                                </div>
                            </div> 
                            <div class="row no-gutter">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="labelDuracion" value="Duración (Meses):" disabled style="font-weight: bold;background-color:#728FCE; color:white">    
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="duracion" ng-value="duracion" ng-disabled="true">    
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="labeltipo" value="Tipo de beca:" disabled style="font-weight: bold;background-color:#728FCE; color:white">    
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="tipoBeca" ng-value="tipoBeca" ng-disabled="true">    
                                    </div>
                                </div>
                            </div>                              
                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">     
                                    <br><br><label>Beneficios que espera obtener:</label>
                                    <textarea class="form-control" name="beneficios" ng-model="data.beneficios" ng-required="true" minlength="10" maxlength="1024"></textarea><br>
                                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.beneficios.$error.required">Ingrese los beneficios que espera obtener.</span>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Programa de estudios</label>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="success">
                                                <th>Semestre</th>
                                                <th>Programa de estudio</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in data.programas">
                                                <td> <input type="number" name="{{semestre}}" class="form-control" ng-disabled="true" ng-value="{{$index +1}}" ng-model="aux.auxSemestre[$index]"></td>
                                                <td> <textarea class="form-control" id="textarea" name="{{x.programa}}" ng-model="aux.auxPrograma[$index]" ng-required="true" minlength="10" maxlength="1024"></textarea></td>
                                                <td><a name="eliminar" class="btn btn-danger" ng-show="!$first&&$last" ng-click="eliminarPrograma()">Eliminar</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row text-center">
                                        <a href="" class="btn btn-primary" ng-click="agregarPrograma()" ng-show="verAgregarPrograma">Agregar Programa</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                <div class="row">
                    <div class="col-md-4 col-lg-offset-4">
                        <a href="#/referencias"><button class="btn btn-primary" ng-disabled="!solicitud.$valid">Continuar</button></a> 
                        <a href="#/cargos"><button class="btn btn-primary">Regresar</button></a>
                        <a href="principal.jsp" class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
            </div> 
            
</div>