<div>
    <div class="col-md-2">
        <ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
            <li><a href="#/">Datos personales</a></li>
            <li><a href="#/laboral">Información laboral</a></li>
            <li><a href="#/educacion">Educación</a></li>
            <li><a href="#/cargos">Cargos desempeñados</a></li>
            <li><a href="#/oferta">Información de beca</a></li>
            <li  class="active"><a href="#/referencias">Referencias personales</a></li>
            <li><a href="#/documentos">Adjuntar documentos</a></li>
        </ul>
    </div>  
    <div class="col-md-10">
        <fieldset class="custom-border">
            <legend class="custom-border">Referencias universitarias</legend>

            <div class="row">   
                <div class="col-md-12">
                    <label for="textinput">Universitarios que puedan dar referencia sobre su persona</label>
                    <fieldset class="custom-border">
                        <legend class="custom-border">Referencia 1</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="textinput">Primer nombre</label>
                                <input name="nombre1R1" type="text" placeholder="ingrese el primer nombre" class="form-control input-md" ng-model="data.nombre1R1">
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Segundo nombre</label>
                                <input name="nombre2R1" type="text" placeholder="ingrese el segundo nombre" class="form-control input-md" ng-model="data.nombre2R1">
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Primer apellido</label>
                                <input name="apellido1R1" type="text" placeholder="ingrese el primer apellido" class="form-control input-md" ng-model="data.apellido1R1">
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Segundo apellido</label>
                                <input name="apellido2R1" type="text" placeholder="ingrese el segundo apellido" class="form-control input-md" ng-model="data.apellido2R1">
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Domicilio</h4>
                            </div>
                        </div>
                        <div class="row">                                
                            <div class="col-md-12">
                                <label class="control-label" for="textarea">Dirección</label>                    
                                <textarea class="form-control" name="direccionR1" ng-model="data.direccionR1"></textarea>
                            </div>
                        </div></br>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="textinput">Departamento</label>
                                <select name="departamentoR1" class="form-control" ng-model="data.departamentoR1">
                                    <option value="1">Option one</option>
                                    <option value="2">Option two</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="textinput">Municipio</label>
                                <select name="municipioR1" class="form-control" ng-model="data.municipioR1">
                                    <option value="1">Option one</option>
                                    <option value="2">Option two</option>
                                </select>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="textinput">Número de teléfono</label>
                                <input name="telefonoR1" type="text" placeholder="ingrese el número de teléfono del contacto" class="form-control input-md" ng-model="data.telefonoR1">
                            </div>
                        </div>

                    </fieldset>
                    
                    <fieldset class="custom-border">
                        <legend class="custom-border">Referencia 2</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="textinput">Primer nombre</label>
                                <input name="nombre1R2" type="text" placeholder="ingrese el primer nombre" class="form-control input-md" ng-model="data.nombre1R2">
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Segundo nombre</label>
                                <input name="nombre2R2" type="text" placeholder="ingrese el segundo nombre" class="form-control input-md" ng-model="data.nombre2R2">
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Primer apellido</label>
                                <input name="apellido1R2" type="text" placeholder="ingrese el primer apellido" class="form-control input-md" ng-model="data.apellido1R2">
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Segundo apellido</label>
                                <input name="apellido2R2" type="text" placeholder="ingrese el segundo apellido" class="form-control input-md" ng-model="data.apellido2R2">
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Domicilio</h4>
                            </div>
                        </div>
                        <div class="row">                                
                            <div class="col-md-12">
                                <label class="control-label" for="textarea">Dirección</label>                    
                                <textarea class="form-control" name="direccionR2" ng-model="data.direccionR2"></textarea>
                            </div>
                        </div></br>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="textinput">Departamento</label>
                                <select name="departamentoR2" class="form-control" ng-model="data.departamentoR2">
                                    <option value="1">Option one</option>
                                    <option value="2">Option two</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="textinput">Municipio</label>
                                <select name="municipioR2" class="form-control" ng-model="data.municipioR2">
                                    <option value="1">Option one</option>
                                    <option value="2">Option two</option>
                                </select>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="textinput">Número de teléfono</label>
                                <input name="telefonoR2" type="text" placeholder="ingrese el número de teléfono del contacto" class="form-control input-md" ng-model="data.telefonoR2">
                            </div>
                        </div>

                    </fieldset>
                    
                    <fieldset class="custom-border">
                        <legend class="custom-border">Referencia 3</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="textinput">Primer nombre</label>
                                <input name="nombre1R3" type="text" placeholder="ingrese el primer nombre" class="form-control input-md" ng-model="data.nombre1R3">
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Segundo nombre</label>
                                <input name="nombre2R3" type="text" placeholder="ingrese el segundo nombre" class="form-control input-md" ng-model="data.nombre2R3">
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Primer apellido</label>
                                <input name="apellido1R3" type="text" placeholder="ingrese el primer apellido" class="form-control input-md" ng-model="data.apellido1R3">
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Segundo apellido</label>
                                <input name="apellido2R3" type="text" placeholder="ingrese el segundo apellido" class="form-control input-md" ng-model="data.apellido2R3">
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Domicilio</h4>
                            </div>
                        </div>
                        <div class="row">                                
                            <div class="col-md-12">
                                <label class="control-label" for="textarea">Dirección</label>                    
                                <textarea class="form-control" name="direccionR3" ng-model="data.direccionR3"></textarea>
                            </div>
                        </div></br>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="textinput">Departamento</label>
                                <select name="departamentoR3" class="form-control" ng-model="data.departamentoR3">
                                    <option value="1">Option one</option>
                                    <option value="2">Option two</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="textinput">Municipio</label>
                                <select name="municipioR3" class="form-control" ng-model="data.municipioR3">
                                    <option value="1">Option one</option>
                                    <option value="2">Option two</option>
                                </select>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="textinput">Número de teléfono</label>
                                <input name="telefonoR3" type="text" placeholder="ingrese el número de teléfono del contacto" class="form-control input-md" ng-model="data.telefonoR3">
                            </div>
                        </div>

                    </fieldset>
                </div>

        </fieldset> 
        <div class="row">
            <div class="col-md-4 col-lg-offset-4">
                <a href="#/documentos"><button id="button1id" name="continuar" class="btn btn-primary">Continuar</button></a> 
                <a href="#/oferta"><button id="button1id" name="regresar" class="btn btn-primary">Regresar</button></a>
                <a href=""><button id="button2id" name="cancelar" class="btn btn-danger">Cancelar</button></a>
            </div>
        </div></br>
    </div> 
    </br>
</div>