<div>
    <div class="col-md-2">
        <ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
            <li><a href="#/">Datos Personales</a></li>
            <li><a href="#/laboral">Información Laboral</a></li>
            <li><a href="#/educacion">Educación</a></li>
            <li><a href="#/cargos">Cargos Desempeñados</a></li>
            <li><a href="#/oferta">Información de Beca</a></li>
            <li  class="active"><a href="#/referencias">Referencias Personales</a></li>
            <li><a href="#/documentos">Adjuntar Documentos</a></li>
        </ul>
    </div>  
    <div class="col-md-10">
        <fieldset class="custom-border">
            <legend class="custom-border">Referencias Universitarias</legend>

            <div class="row">   
                <div class="col-md-12">
                    <label for="textinput">Universitarios que Puedan dar Referencia Sobre su Persona</label>
                    <fieldset class="custom-border">
                        <legend class="custom-border">Referencia 1</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="textinput">Primer Nombre</label>
                                <input name="nombre1R1" type="text" placeholder="Ingrese el Primer Nombre" class="form-control input-md" ng-model="data.nombre1R1" ng-required="true" ng-pattern="/^[A-ZÑÁÉÍÓÚ]*$/" maxlength="20" minlength="3">
                                <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.nombre1R1.$error.required">El Primer Nombre es Requerido.</span>
                    <span class="text-danger" ng-show="solicitud.nombre1R1.$error.minlength">Mínimo 3 Caracteres.</span>
                    <span class="text-danger" ng-show="solicitud.nombre1R1.$error.pattern">Solo se Permiten Letras Mayúsculas. (A-Z).</span>
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Segundo Nombre</label>
                                <input name="nombre2R1" type="text" placeholder="Ingrese el Segundo Nombre" class="form-control input-md" ng-model="data.nombre2R1" ng-pattern="/^[A-ZÑÁÉÍÓÚ]*$/" maxlength="20" minlength="3">
                                <span class="text-danger" ng-show="solicitud.nombre2R1.$error.minlength">Mínimo 3 Caracteres.</span>
                    <span class="text-danger" ng-show="solicitud.nombre2R1.$error.pattern">Solo se Permiten Letras Mayúsculas. (A-Z).</span>
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Primer Apellido</label>
                                <input name="apellido1R1" type="text" placeholder="Ingrese el Primer Apellido" class="form-control input-md" ng-model="data.apellido1R1" ng-required="true" ng-pattern="/^[A-ZÑÁÉÍÓÚ]*$/" maxlength="20" minlength="3">
                                <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.apellido1R1.$error.required">El Primer Apellido es requerido.</span>
                    <span class="text-danger" ng-show="solicitud.apellido1R1.$error.minlength">Mínimo 3 Caracteres.</span>
                    <span class="text-danger" ng-show="solicitud.apellido1R1.$error.pattern">Solo se Permiten Letras Mayúsculas. (A-Z).</span>
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Segundo Apellido</label>
                                <input name="apellido2R1" type="text" placeholder="Ingrese el Segundo Apellido" class="form-control input-md" ng-model="data.apellido2R1" ng-pattern="/^[A-ZÑÁÉÍÓÚ]*$/" maxlength="20" minlength="3">
                    <span class="text-danger" ng-show="solicitud.apellido2R1.$error.minlength">Mínimo 3 Caracteres.</span>
                    <span class="text-danger" ng-show="solicitud.apellido2R1.$error.pattern">Solo se Permiten Letras Mayúsculas. (A-Z).</span>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Domicilio</h4>
                            </div>
                        </div>
                        <div class="row">                                
                            <div class="col-md-12">
                                <label class="control-label" for="textarea">Dirección</label>                    
                                <textarea class="form-control" name="direccionR1" ng-model="data.direccionR1" ng-required="true"></textarea>
                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.direccionR1.$error.required">Debe Ingresar la Dirección del Domicilio de la Referencia.</span>
                            </div>
                        </div></br>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="textinput">Departamento</label>
                                <select name="departamentoR1" class="form-control" ng-model="data.departamentoR1" ng-required="true" ng-change="activarmunicipiosR1()">
                                    <option ng-repeat="option in departamentos" value="{{option.idDepartamento}}">{{option.nombreDepartamento}}</option>
                                </select>
                                <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.departamentoR1.$error.required">Debe de Seleccionar el Departamento del Domicilio.</span>

                            </div>
                            <div class="col-md-4">
                                <label for="textinput">Municipio</label>
                                <select name="municipioR1" class="form-control" ng-model="data.municipioR1" ng-required="true" ng-disabled="activarMunicipiosR1">
                                    <option ng-repeat="option in municipios|filter:{idDepartamento:data.departamentoR1}" value="{{option.idMunicipio}}">{{option.nombreMunicipio}}</option>
                                </select>
                                <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.municipioR1.$error.required">Debe de Seleccionar el Municipio del Domicilio.</span>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="textinput">Número de Teléfono</label>
                                <input name="telefonoR1" type="text" placeholder="Ingrese el Número de Teléfono del Contacto" class="form-control input-md" ng-model="data.telefonoR1" ng-required="true" ng-pattern="/^[0-9]*$/" minlength="8" maxlength="8">
                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.telefonoR1.$error.required">Debe Ingresar el Número de Teléfono de la Persona de Referencia.</span>
                    <span class="text-danger" ng-show="solicitud.telefonoR1.$error.minlength">Debe Ingresar 8 Digitos.</span>
                    <span class="text-danger" ng-show="solicitud.telefonoR1.$error.pattern">Solo se Permiten Números. (0-9).</span>
                            </div>
                        </div>

                    </fieldset>
                    
                    <fieldset class="custom-border">
                        <legend class="custom-border">Referencia 2</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="textinput">Primer Nombre</label>
                                <input name="nombre1R2" type="text" placeholder="Ingrese el Primer Nombre" class="form-control input-md" ng-model="data.nombre1R2" ng-required="true" ng-pattern="/^[A-ZÑÁÉÍÓÚ]*$/" maxlength="20" minlength="3">
                                <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.nombre1R2.$error.required">El Primer Nombre es Requerido.</span>
                    <span class="text-danger" ng-show="solicitud.nombre1R2.$error.minlength">Mínimo 3 caracteres.</span>
                    <span class="text-danger" ng-show="solicitud.nombre1R2.$error.pattern">Solo se Permiten Letras Mayúsculas. (A-Z).</span>
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Segundo Nombre</label>
                                <input name="nombre2R2" type="text" placeholder="Ingrese el Segundo Nombre" class="form-control input-md" ng-model="data.nombre2R2" ng-pattern="/^[A-ZÑÁÉÍÓÚ]*$/" maxlength="20" minlength="3">
                                <span class="text-danger" ng-show="solicitud.nombre2R2.$error.minlength">Mínimo 3 Caracteres.</span>
                    <span class="text-danger" ng-show="solicitud.nombre2R2.$error.pattern">Solo se Permiten Letras Mayúsculas. (A-Z).</span>
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Primer Apellido</label>
                                <input name="apellido1R2" type="text" placeholder="Ingrese el Primer Apellido" class="form-control input-md" ng-model="data.apellido1R2" ng-required="true" ng-pattern="/^[A-ZÑÁÉÍÓÚ]*$/" maxlength="20" minlength="3">
                                <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.apellido1R2.$error.required">El Primer Apellido es Requerido.</span>
                    <span class="text-danger" ng-show="solicitud.apellido1R2.$error.minlength">Mínimo 3 Caracteres.</span>
                    <span class="text-danger" ng-show="solicitud.apellido1R2.$error.pattern">Solo se Permiten Letras Mayúsculas. (A-Z).</span>
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Segundo Apellido</label>
                                <input name="apellido2R2" type="text" placeholder="Ingrese el Segundo Apellido" class="form-control input-md" ng-model="data.apellido2R2" ng-pattern="/^[A-ZÑÁÉÍÓÚ]*$/" maxlength="20" minlength="3">
                    <span class="text-danger" ng-show="solicitud.apellido2R2.$error.minlength">Mínimo 3 Caracteres.</span>
                    <span class="text-danger" ng-show="solicitud.apellido2R2.$error.pattern">Solo se Permiten Letras Mayúsculas. (A-Z).</span>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Domicilio</h4>
                            </div>
                        </div>
                        <div class="row">                                
                            <div class="col-md-12">
                                <label class="control-label" for="textarea">Dirección</label>                    
                                <textarea class="form-control" name="direccionR2" ng-model="data.direccionR2" ng-required="true"></textarea>
                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.direccionR2.$error.required">Debe ingresar la Direccion del Domicilio de la Referencia.</span>
                            </div>
                        </div></br>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="textinput">Departamento</label>
                                <select name="departamentoR2" class="form-control" ng-model="data.departamentoR2" ng-required="true" ng-change="activarmunicipiosR2()">
                                    <option ng-repeat="option in departamentos" value="{{option.idDepartamento}}">{{option.nombreDepartamento}}</option>
                                </select>
                                <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.departamentoR2.$error.required">Debe de Seleccionar el Departamento del Domicilio.</span>

                            </div>
                            <div class="col-md-4">
                                <label for="textinput">Municipio</label>
                                <select name="municipioR2" class="form-control" ng-model="data.municipioR2" ng-required="true" ng-disabled="activarMunicipiosR2">
                                    <option ng-repeat="option in municipios|filter:{idDepartamento:data.departamentoR2}" value="{{option.idMunicipio}}">{{option.nombreMunicipio}}</option>
                                </select>
                                <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.municipioR2.$error.required">Debe de Seleccionar el Municipio del domicilio.</span>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="textinput">Número de Teléfono</label>
                                <input name="telefonoR2" type="text" placeholder="Ingrese el Número de Teléfono del Contacto" class="form-control input-md" ng-model="data.telefonoR2" ng-required="true" ng-pattern="/^[0-9]*$/" minlength="8" maxlength="8">
                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.telefonoR2.$error.required">Debe Ingresar el Número de Telefono de la Persona de Referencia.</span>
                    <span class="text-danger" ng-show="solicitud.telefonoR2.$error.minlength">Debe Ingresar 8 Digitos.</span>
                    <span class="text-danger" ng-show="solicitud.telefonoR2.$error.pattern">Solo se Permiten Números. (0-9).</span>
                            </div>
                        </div>

                    </fieldset>
                    
                    <fieldset class="custom-border">
                        <legend class="custom-border">Referencia 3</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="textinput">Primer Nombre</label>
                                <input name="nombre1R3" type="text" placeholder="Ingrese el Primer Nombre" class="form-control input-md" ng-model="data.nombre1R3" ng-required="true" ng-pattern="/^[A-ZÑÁÉÍÓÚ]*$/" maxlength="20" minlength="3">
                                <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.nombre1R3.$error.required">El Primer Nombre es Requerido.</span>
                    <span class="text-danger" ng-show="solicitud.nombre1R3.$error.minlength">Mínimo 3 Caracteres.</span>
                    <span class="text-danger" ng-show="solicitud.nombre1R3.$error.pattern">Solo se Permiten Letras Mayúsculas. (A-Z).</span>
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Segundo Nombre</label>
                                <input name="nombre2R3" type="text" placeholder="Ingrese el Segundo Nombre" class="form-control input-md" ng-model="data.nombre2R3" ng-pattern="/^[A-ZÑÁÉÍÓÚ]*$/" maxlength="20" minlength="3">
                                <span class="text-danger" ng-show="solicitud.nombre2R3.$error.minlength">Mínimo 3 Caracteres.</span>
                    <span class="text-danger" ng-show="solicitud.nombre2R3.$error.pattern">Solo se Permiten Letras Mayúsculas. (A-Z).</span>
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Primer Apellido</label>
                                <input name="apellido1R3" type="text" placeholder="Ingrese el Primer Apellido" class="form-control input-md" ng-model="data.apellido1R3" ng-required="true" ng-pattern="/^[A-ZÑÁÉÍÓÚ]*$/" maxlength="20" minlength="3">
                                <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.apellido1R3.$error.required">El Primer Apellido es Requerido.</span>
                    <span class="text-danger" ng-show="solicitud.apellido1R3.$error.minlength">Mínimo 3 Caracteres.</span>
                    <span class="text-danger" ng-show="solicitud.apellido1R3.$error.pattern">Solo se Permiten Letras Mayúsculas. (A-Z).</span>
                            </div>
                            <div class="col-md-3">
                                <label for="textinput">Segundo Apellido</label>
                                <input name="apellido2R3" type="text" placeholder="Ingrese el Segundo Apellido" class="form-control input-md" ng-model="data.apellido2R3" ng-pattern="/^[A-ZÑÁÉÍÓÚ]*$/" maxlength="20" minlength="3">
                    <span class="text-danger" ng-show="solicitud.apellido2R3.$error.minlength">Mínimo 3 Caracteres.</span>
                    <span class="text-danger" ng-show="solicitud.apellido2R3.$error.pattern">Solo se Permiten Letras Mayúsculas. (A-Z).</span>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Domicilio</h4>
                            </div>
                        </div>
                        <div class="row">                                
                            <div class="col-md-12">
                                <label class="control-label" for="textarea">Dirección</label>                    
                                <textarea class="form-control" name="direccionR3" ng-model="data.direccionR3" ng-required="true"></textarea>
                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.direccionR3.$error.required">Debe Ingresar la Dirección del Domicilio de la referencia.</span>
                            </div>
                        </div></br>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="textinput">Departamento</label>
                                <select name="departamentoR3" class="form-control" ng-model="data.departamentoR3" ng-required="true" ng-change="activarmunicipiosR3()">
                                    <option ng-repeat="option in departamentos" value="{{option.idDepartamento}}">{{option.nombreDepartamento}}</option>
                                </select>
                                <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.departamentoR3.$error.required">Debe de Seleccionar el Departamento del Domicilio.</span>

                            </div>
                            <div class="col-md-4">
                                <label for="textinput">Municipio</label>
                                <select name="municipioR3" class="form-control" ng-model="data.municipioR3" ng-required="true" ng-disabled="activarMunicipiosR3">
                                    <option ng-repeat="option in municipios|filter:{idDepartamento:data.departamentoR3}" value="{{option.idMunicipio}}">{{option.nombreMunicipio}}</option>
                                </select>
                                <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.municipioR3.$error.required">Debe de Seleccionar el Municipio del Domicilio.</span>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="textinput">Número de Teléfono</label>
                                <input name="telefonoR3" type="text" placeholder="Ingrese el Número de Teléfono del Contacto" class="form-control input-md" ng-model="data.telefonoR3" ng-required="true" ng-pattern="/^[0-9]*$/" minlength="8" maxlength="8">
                    <span class="text-danger" ng-show="!solicitud.$pristine && solicitud.telefonoR3.$error.required">Debe Ingresar el Número de Teléfono de la Persona de Referencia.</span>
                    <span class="text-danger" ng-show="solicitud.telefonoR3.$error.minlength">Debe Ingresar 8 Digitos.</span>
                    <span class="text-danger" ng-show="solicitud.telefonoR3.$error.pattern">Solo se Permiten Números. (0-9).</span>
                            </div>
                        </div>

                    </fieldset>
                </div>

        </fieldset> 
        <div class="row">
            <div class="col-md-4 col-lg-offset-4">
                <a href="principal.jsp" class="btn btn-danger">Cancelar</a>
                <a href="#/oferta"><button id="button1id" name="regresar" class="btn btn-primary">Regresar</button></a>
                <a href="#/documentos"><button class="btn btn-success" ng-disabled="!solicitud.$valid">Continuar</button></a>                                 
            </div>
        </div></br>
    </div> 
    </br>
</div>