<div class="col-md-2">
    <ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
        <li><a href="#/">Datos personales</a></li>
        <li><a href="#/laboral">Información laboral</a></li>
        <li><a href="#/educacion">Educación</a></li>
        <li><a href="#/cargos">Cargos desempeñados</a></li>
        <li><a href="#/oferta">Información de beca</a></li>
        <li><a href="#/referencias">Referencias personales</a></li>
        <li  class="active"><a href="#/documentos">Adjuntar documentos</a></li>
    </ul>
</div>  

<div class="col-md-10">
    <div class="row">   
        <div class="row">
            <div class="col-md-3">
                <label for="textinput">Acciones</label>
            </div>
        </div>  
        <div class="col-md-3">
            <div class = "panel panel-default" style="padding: 10px;">
                <input type="submit" name="enviar" class="btn btn-success" value="Descargar en PDF" ng-click="cambiarUrlPDF()">                               
            </div>
        </div> 
    </div>
    <fieldset class="custom-border">
        <legend class="custom-border">Documentación</legend>

        <div class="row">   
            <div class="col-md-6">
                <label class="text-danger">Adjuntar los siguientes documentos</label>
            </div> 
        </div>                            
        <div class="row">
            <div class="col-md-6">
                <label>SOLICITUD DE BECA FIRMADA: </label>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <input name="solicitudFirmada" type="file" accept="application/pdf" ng-model="solicitudFirmada" valid-file required>
                        <span class="text-danger" ng-show="solicitud.solicitudFirmada.$invalid">Debe ingresar un documento en formato PDF.</span>
                </div>                               
            </div>      
        </div><br>       
        <div class="row">
            <div class="col-md-6">
                <label>DICTAMEN DEL JEFE DEL DEPARTAMENTO O ESCUELA QUE MANIFIESTA ELECCION POR CONCURSO DE OPOSICIÓN: </label>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <input name="dictamenJefe" type="file" accept="application/pdf" ng-model="dictamenJefe" valid-file required>
                        <span class="text-danger" ng-show="solicitud.dictamenJefe.$invalid">Debe ingresar un documento en formato PDF.</span>
                </div>                               
            </div>      
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <label>TÍTULO ACADÉMICO: </label>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <input name="tituloAcademico" type="file" accept="application/pdf" ng-model="tituloAcademico" valid-file required>
                        <span class="text-danger" ng-show="solicitud.tituloAcademico.$invalid">Debe ingresar un documento en formato PDF.</span>
                </div>                               
            </div>      
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <label>PARTIDA DE NACIMIENTO: </label>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <input name="partida" type="file" accept="application/pdf" ng-model="partida" valid-file required>
                        <span class="text-danger" ng-show="solicitud.partida.$invalid">Debe ingresar un documento en formato PDF.</span>
                </div>                               
            </div>      
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <label>DUI: </label>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <input name="dui" type="file" accept="application/pdf" ng-model="dui" valid-file required>
                        <span class="text-danger" ng-show="solicitud.dui.$invalid">Debe ingresar un documento en formato PDF.</span>
                </div>                               
            </div>      
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <label>CURRÍCULUM VITAE: </label>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <input name="curriculo" type="file" accept="application/pdf" ng-model="curriculo" valid-file required>
                        <span class="text-danger" ng-show="solicitud.curriculo.$invalid">Debe ingresar un documento en formato PDF.</span>
                </div>                               
            </div>      
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <label>NOTAS GLOBALES: </label>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <input name="notas" type="file" accept="application/pdf" ng-model="notas" valid-file required>
                        <span class="text-danger" ng-show="solicitud.notas.$invalid">Debe ingresar un documento en formato PDF.</span>
                </div>                               
            </div>      
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <label>CERTIFICADO DE SALUD: </label>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <input name="certificado" type="file" accept="application/pdf" ng-model="certificado" valid-file required>
                        <span class="text-danger" ng-show="solicitud.certificado.$invalid">Debe ingresar un documento en formato PDF.</span>
                </div>                               
            </div>      
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <label>PODER JUDICIAL OTORGADO A SU APODERADO: </label>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <input name="poder" type="file" accept="application/pdf" ng-model="poder" valid-file required>
                        <span class="text-danger" ng-show="solicitud.poder.$invalid">Debe ingresar un documento en formato PDF.</span>
                </div>                               
            </div>      
        </div><br>
        
        

        <div>
            <input type="text" name="user" ng-model = "user" >
            <input type="text" name="nombre1" ng-model = "data.nombre" >
            <input type="text" name="nombre2" ng-model = "data.nombre2">
            <input type="text" name="apellido1" ng-model ="data.apellido1">
            <input type="text" name="apellido2" ng-model ="data.apellido2">
            <input type="text" name="fechaNacimiento" ng-model="data.fecha_nacimiento">
            <input type="text" name="departamentoNacimiento" ng-model="data.departamento_nacimiento">
            <input type="text" name="municipioNacimiento" ng-model="data.municipio_nacimiento">
            <input type="text" name="genero" ng-model="data.genero">
            <input type="text" name="direccion" ng-model="data.direccion">
            <input type="text" name="departamentoDireccion" ng-model="data.departamento_direccion">
            <input type="text" name="municipioDireccion" ng-model="data.municipio_direccion">
            <input type="text" name="telCasa" ng-model="data.tel_casa">
            <input type="text" name="telMovil" ng-model="data.tel_movil">
            <input type="text" name="telOficina" ng-model="data.tel_oficina">

            <input type="text" name="profesion" ng-model="data.profesion">
            <input type="text" name="cargo" ng-model="data.cargo">
            <input type="text" name="unidad" ng-model="data.unidad">
            <input type="text" name="facultad" value="{{facultad}}">
            <input type="text" name="fechaContratacion" ng-model="data.fecha_contratacion">

            <input type="text" name="beneficios" ng-model="data.beneficios">

            <input type="text" name="nombre1R1" ng-model = "data.nombre1R1" >
            <input type="text" name="nombre2R1" ng-model = "data.nombre2R1" >
            <input type="text" name="apellido1R1" ng-model = "data.apellido1R1" >
            <input type="text" name="apellido2R1" ng-model = "data.apellido2R1" >
            <input type="text" name="direccionR1" ng-model = "data.direccionR1" >
            <input type="text" name="departamentoR1" ng-model = "data.departamentoR1" >
            <input type="text" name="municipioR1" ng-model = "data.municipioR1" >
            <input type="text" name="telefonoR1" ng-model = "data.telefonoR1" >

            <input type="text" name="nombre1R2" ng-model = "data.nombre1R2" >
            <input type="text" name="nombre2R2" ng-model = "data.nombre2R2" >
            <input type="text" name="apellido1R2" ng-model = "data.apellido1R2" >
            <input type="text" name="apellido2R2" ng-model = "data.apellido2R2" >
            <input type="text" name="direccionR2" ng-model = "data.direccionR2" >
            <input type="text" name="departamentoR2" ng-model = "data.departamentoR2" >
            <input type="text" name="municipioR2" ng-model = "data.municipioR2" >
            <input type="text" name="telefonoR2" ng-model = "data.telefonoR2" >

            <input type="text" name="nombre1R3" ng-model = "data.nombre1R3" >
            <input type="text" name="nombre2R3" ng-model = "data.nombre2R3" >
            <input type="text" name="apellido1R3" ng-model = "data.apellido1R3" >
            <input type="text" name="apellido2R3" ng-model = "data.apellido2R3" >
            <input type="text" name="direccionR3" ng-model = "data.direccionR3" >
            <input type="text" name="departamentoR3" ng-model = "data.departamentoR3" >
            <input type="text" name="municipioR3" ng-model = "data.municipioR3" >
            <input type="text" name="telefonoR3" ng-model = "data.telefonoR3" >

            <div class="row" ng-repeat="x in data.educacion">
                <input type="text" name="{{x.tipo}}" ng-model="aux.auxTipoEdu[$index]">
                <input type="text" name="{{x.grado}}" ng-model="aux.auxGradoEdu[$index]">
                <input type="text" name="{{x.institucion}}" ng-model="aux.auxInstitucionEdu[$index]">
                <input type="text" name="{{x.anyo}}" ng-model="aux.auxAnyoEdu[$index]"><br>
            </div>
            <input type="text" name="nEducacion" ng-model = "Nedu-1" >
            <div class="row" ng-repeat="x in data.proyectos">
                <input type="text" name="{{x.titulo}}" ng-model="aux.auxTituloProy[$index]">
                <input type="text" name="{{x.publicado}}" ng-model="aux.auxPublicado[$index]">
            </div>
            <input type="text" name="nInvestigacion" ng-model = "Nproy-1 " >
            <input type="text" name="checkProyecto" ng-model = "checkProyecto" >
            <div class="row" ng-repeat="x in data.idiomas">
                <input type="text" name="{{x.idioma}}" ng-model="aux.auxIdioma[$index]">
                <input type="text" name="{{x.nivelHabla}}" ng-model="aux.auxNivelHabla[$index]">
                <input type="text" name="{{x.nivelLectura}}" ng-model="aux.auxNivelLectura[$index]">
                <input type="text" name="{{x.nivelEscritura}}" ng-model="aux.auxNivelEscritura[$index]"><br>
            </div>
            <input type="text" name="nIdioma" ng-model = "Nidi-1 " >
            <div class="row" ng-repeat="x in data.asociaciones">
                <input type="text" name="{{x.asociacion}}" ng-model="aux.auxAsociacion[$index]">
            </div>
            <input type="text" name="nAsociacion" ng-model = "Naso-1 " >
            <input type="text" name="checkAsociacion" ng-model = "checkAsociacion" >
            <div class="row" ng-repeat="x in data.cargos">
                <input type="text" name="{{x.lugar}}" ng-model="aux.auxLugar[$index]">
                <input type="text" name="{{x.cargo}}" ng-model="aux.auxCargo[$index]">
                <input type="text" name="{{x.fechaInicio}}" ng-model="aux.auxFechaInicio[$index]">
                <input type="text" name="{{x.fechaFin}}" ng-model="aux.auxFechaFin[$index]">
                <input type="text" name="{{x.responsabilidades}}" ng-model="aux.auxResponsabilidades[$index]">
            </div>
            <input type="text" name="nCargos" ng-model = "Ncar-1 " >
            <div class="row" ng-repeat="x in data.programas">
                <input type="text" name="{{x.semestre}}" ng-model="aux.auxSemestre[$index]">
                <input type="text" name="{{x.programa}}" ng-model="aux.auxPrograma[$index]">
            </div>
            <input type="text" name="nPrograma" ng-model = "Npro-1 " >
        </div>
    </fieldset>            
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            <a href=""><button id="button1id" name="regresar" class="btn btn-primary">Regresar</button></a>                        
            <input type="submit" name="enviar" class="btn btn-success" value="Enviar" ng-disabled="!solicitud.$valid" ng-click="cambiarUrlSolicitud()">
            <a href=""><button id="button2id" name="cancelar" class="btn btn-danger">Cancelar</button></a>
        </div>
    </div></br>
</div> 
</br>